.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.profile {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 12px;
  transition: box-shadow 0.3s ease;
  margin: 20px auto;

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  }

  h2, h3 {
    margin-bottom: 10px;
    color: #333;
  }

  label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: #555;
  }

  input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s;

    &:focus {
      border-color: #db4444;
      outline: none;
    }
  }



  button {
    background: #db4444;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #b93232;
    }
  }

  // Адаптивка для мобильных
  @media (max-width: 768px) {
    padding: 20px;
    gap: 12px;

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 16px;
    }

    input {
      padding: 10px 12px;
      font-size: 14px;
    }

    button {
      padding: 10px;
      font-size: 15px;
    }
  }
}
